<div class="row">
    <div class="col-12">
        <div class="header-container">
            <div class="header">
                <div class="row">
                    <div class="col-12">
                        <span class="c">C</span>
                        <span class="a">A</span>
                        <span class="r">R</span>
                        <span class="e">E</span>
                        <img src="assets/heart.png">
                    </div>
                </div>
                <div class="row">
                    <h2>Cohort Assessment and Retrieval Environment</h2>
                </div>
                <div class="row">
                    <ul class="nav">
                        <li class="nav-item"><a routerLink="/input">Input</a></li>
                        <li class="nav-item"><a routerLink="/about">About</a></li>
                        <li class="nav-item"><a routerLink="/records">Records</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<div class="row">
    <footer>
        <div class="col-12 footer-content">
            <div class="row">
                <div class="col-6">
                    <div class="row foot-text">
                        © Copyright 2017
                    </div>
                    <div class="row foot-text"> 
                        Created by Jordan Tang, Payal Shah, and Kyle Ellis
                    </div>
                    <div class="row foot-text"> 
                        Icon made by Madebyoliver (Freepik) from www.flaticon.com
                    </div>
                </div>
                <div class="col-6 foot-img">
                    <img src="assets/vcu_head_logo.PNG">
                </div>
            </div>
        </div>
    </footer>
</div>
