<div class="row">
    <div class="container">
        <div class="row descrip">
            <div class="col-9">
                <h1>Input</h1>
                <p>Input (in|ex)clusion criteria to filter and grade records below. Add individual 
                input one at a time, or input multiple items at once, separating each item with a comma. To update 
                individual items, add changes and then click update. To remove a single item, click remove. To clear 
                all inclusion criteria, click remove all in the appropriate column. To clear all exclusion criteria, 
                click remove all in the appropriate column. To clear all input, click clear all.</p>
            </div>
        </div>
        <div class="row cards">
            <div class="col-6 card-holder">
                <div class="card">
                    <h3>Inclusion criteria:</h3>
                    <p>Some stuff here</p>
                </div>
            </div>
            <div class="col-6 card-holder">
                <div class="card">
                    <h3>Exclusion criteria:</h3>
                    <p>Some stuff here</p>
                </div>
            </div>
        </div>
    </div>
</div>