<div class="row">
    <div class="container">
        <div class="row descrip">
            <div class="col-12">
                <h1>Records</h1>
                <p>The records below are ranked, with concepts based on input highlighted red or green.
                    Ranking is based off a grade. Click on each record in the table to see more details.</p>
            </div>
        </div>
        <div class="row descrip">
            <div class="display col-10">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Rank</th>
                        <th>Grade</th>
                    </tr>
                    <tr class="records" [class.selected]="inRecord === selectedRecord" (click)="onSelect(inRecord)" *ngFor="let inRecord of inRecords">
                        <td>{{inRecord.id}}</td>
                        <td>{{inRecord.description}}</td>
                        <td>{{inRecord.rank}}</td>
                        <td>{{inRecord.grade}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row descrip">
            <div class="col-12">
                <div *ngIf="selectedRecord" class="record-descrip">
                    <h4>Details on record {{selectedRecord.id}}:</h4>
                    <p class="sub">Rank: {{selectedRecord.rank}}</p>
                    <p class="sub">Grade: {{selectedRecord.grade}}</p>
                    <p>Description: {{selectedRecord.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>