<div class="row">
    <div class="container">
        <div class="row descrip">
            <div class="col-9">
                <h1>Records</h1>
                <p>The records below are ranked, with concepts based on input highlighted red or green.
                    Ranking is based off a grade. Click on each record in the table to see more details.</p>
            </div>
        </div>
        <div class="row cards">
            <div class="col-6 card-holder">
                <div class="card">
                    <h3>Inclusion criteria:</h3>
                    <p>Some stuff here</p>
                </div>
            </div>
            <div class="col-6 card-holder">
                <div class="card">
                    <h3>Exclusion criteria:</h3>
                    <p>Some stuff here</p>
                </div>
            </div>
        </div>
    </div>
</div>